* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
    font-family: "Quicksand", sans-serif;
}

.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 720px;
}

.container {
    width: 100vw;
    width: 100ch;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img img {
    width: 700px;
}

.avatar {
    width: 100%;
}

.img {
    display: flex;
    justify-content: flex-end;
    /* justify-content: flex-end;
    align-items: center; */
}

.login-container {
    display: flex;
    justify-content: right;
    text-align: left;
    margin-left: 80%;
}

form {
    width: 360px;
}

form h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 2.9rem;
    margin: 15px 0;
    color: #4f4f4f;
}

.input-div {
    display: grid;
    border-bottom: 1px;
}
.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-top: 10px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #4f4f4f;
}
